teachbooks==0.2.4
sphinx_apa_references==1.0.1

sphinx-inline-tabs
git+https://github.com/TeachBooks/TeachBooks-Favourites@all_authors
teachbooks-sphinx-grasple

jupyter-book #==1.0.4
jupyterquiz  # ==2.8.*
